body {
    background-color:cornsilk;
}

form>div {
    display: grid;
    grid-template-columns:100px 1fr auto;
    grid-gap: 0.5em;
    padding: 0.8em;
}

    label {
        grid-column:1/2;
    }

input, select, span.Validation {
    grid-column: 2/3;
    padding: 3px;
}
    span, input[type="submit"], input[type="reset"] {
        grid-column: 3/4; 

    }
        span.Validation {
            padding-left: 1em;
        }


